* {
    font-family: 'Odibee Sans', cursive;
    font-size: 110%;
}

body {
    background-color: #E6CEA0;
    overflow: hidden;
    color: #65472c;
}

.row.content {
    height: 1000px;

}

.sidenav {
    padding-top: 20px;
    height: 100%;
    background-color: #65472c;
    color: #E6CEA0;
    font-size: 30px;

}
.sidenav2{
    overflow: scroll;
    font-size: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: auto;
}

img:active {
    width: 1150px;
    height: auto;
    transition: width 40ms;
}

img:hover {
    cursor: grab;
}

#cookiesSize {
    font-size: 250%;
    font-weight: bold;
}

button {
    background-color: #E6CEA0;
    color: #65472c;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}

button:active {
    padding: 10px 19px;
    background-color: #c2a96d;

}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E6CEA0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #65472c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #583f23;
}